/* */
@import url(http://fonts.googleapis.com/css?family=Quicksand:300,700);

body {
 text-align: center;
 font-family: Quicksand, Helvetica, Arial, sans-serif;
 font-size: 16px;
 font-weight: 500;
 line-height: 20px;
 color: #444;
 background-color: #FDFDFD;
 margin: 0;
}

.page {
  width: 100%;
  max-width: 60em;
  margin: auto;
}

/*
.concept  { border-left: 1px solid #7F7; }
.deep 	  { border-left: 1px solid #77F; }
.tech 	  { border-left: 1px solid #FF7; }
.rails	  { border-left: 1px solid #F77; }
.philo 	  { border-left: 1px solid #7FF; }
.business { border-left: 1px solid #F7F; }
*/

header, article, .title, .block, ul.post-list {
  width: 100%;
  min-width: 250px;
  max-width: 27em;
  text-align: left;
  margin: 0.5em;
}

.block {
  float: left;
  background: #F4F4F4;
  border: 1px solid silver;
  border-radius: 3px;
}

header, article { float: right; }
.links { clear: both; }

article {
  // border-color: #F0F0F0;
  // background: white;
  float: right;
}
article h4 { color: #888888; }

.sound {
  border-color: #EEE4E4;
  background: #F4F4F4;
}

.links {
  border-color: #E4EEE4;
  background: #F4FFF4;
}
.links h4 { color: #393; }

.todo {
  border-color: #E4E4EE;
  background: #F4F4FF;
}
.todo h4 { color: #339; }

.mot {
  border-color: #EEE4E4;
  background: #FFF4F4;
}
.mot h4 { color: #933; }

.links ul, ul.post-list { list-style-type: none; margin: 1em; padding: 0; }

#title { width: 28em; padding: 0; margin: auto; }

article { font-family: serif; }

#series li { padding: 0.20em 0; }
#series span { display: block; clear: both; font-size: 80%; }

.cat { font-weight: 400; color: #444; }

.tooltip {
 border: 1px solid #FAE8C7;
 background: #FEFDFC;
 display: none;
 padding: 5px;
}
.tooltip.open { display: block; }
div:hover > .tooltip { display: block; }

p.help { text-align: left; }

.short { display: none; }
.tab { display: none; }

.post-header .post-meta, .c, .more { text-align: center; }

footer, .footnotes { border-top: 1px dotted #999; margin-top: 2em; }

footer { padding: 1em; }
footer ul, footer li { padding-top: 0.25em; margin: 0; }
footer h4 { display: inline; }
footer .related-meta { font-size: 80%; }


h1,h2,h3,h4,h5,h6{
 margin: 0.25em 0;
 text-align: center;
 font-weight:300;
}
h4 { font-weight: bold; }

p {
  margin: 0.25em 1em 1em 1em;
  word-wrap: break-word;
}
p.breaking {
 padding: 0.25em 0.5em;
 background: #FAFAFA;
 border-top: 1px solid silver;
 border-bottom: 1px solid silver;
}

img {
 border:0;
 width:auto;
 height:auto;
 max-width:100%;
 vertical-align:middle;
 -ms-interpolation-mode:bicubic;
}
a img { width: 16px; height: 16px; }

ul ul,ul ol,ol ol,ol ul { margin-bottom:0; }
li { line-height:20px; }

hr { clear:both; border: 1px dotted #FEFEFE; }
.fl { float:left; margin-left:0.5em; }
.fr { float:right; margin-right:0.5em; }
.half { width: 12em; }
.b { font-weight: bold; }

h1 { font-size: 42px; line-height:50px; }
h2 { font-size: 32px; line-height:42px; margin-top: 0.5em; }
h3 { font-size: 22px; line-height:36px; padding-left: 0.5em; }

a { color: #6BA441; text-decoration: none; font-weight: 500; }
a:hover { color: #83BA2B; text-decoration: underline; }
h3 a { font-weight: 700; }
li h4 { margin-top: 0.75em; }

.help { font-size: 90%; margin-top: 1px; padding-top: 1px; }

ul.post-list { margin-left: auto; margin-right: auto; }

/* responsive */

@media screen and (max-width:870px) {
 .page { max-width: 28em; }

 header, article, .title, .block, ul.post-list {
  width: 97%;
 }

}

@media screen and (max-width:450px) {
 h2 { text-align: center; }
 .txt { display: none; }
 .short { display: inline; }
 p { margin: 0 0 0.5em 1em; }
 .half { width: 10em; margin: 0; }
 #title, .page, .menu, .submenu { width: 100%; }
 #series li { padding: 0 0.2em; }

 .menu a { width: 33%; }

 .at { display: none; }
}

/* lists */
ul.post-list li, .post-header .post-meta { 
	clear: both; width: 90%;
	margin: 0 4.5% 1em 4.5%;
}
ul.post-list h3 { float: left; }
ul.post-list li p { clear: both; font-size: 90%; }
ul.post-list .post-meta { float: right; padding: 0.5em 0.25em 0 0; }
ul.post-list .tagline {
	clear:both;
padding: 0; margin: 0;
	// text-align: right;
	color: #888;
}
ul.post-list li li { margin: 2px; border: none; }
ul.post-list li li:hover { border-top: none; border-bottom: none; }

/* hovers */
ul.post-list:hover .post-meta { color: #000; }
.menu, ul.post-list li:hover {
        color: #222;
//	border-top: 1px solid #6ED6FA;
//	border-bottom: 1px solid #99EEFF;
//	background: #CEF;
}

.menu { text-align: center; } // color: #A5A5A5; }
// .submenu { background: #DEF; border-top: none; }

.menu a { display: inline-block; min-width: 3em; margin: 0 auto; padding: 4px; }
.menu a.icon { width: 5em; }
// .menu a:hover, #tags .tag:hover { background: #6ED6FA; text-decoration: none; }
// .menu a.active, #tags .tag.active { background: #8EE6FF; }
.submenu a { width: 17%; }

a.ext:hover { background: white; text-decoration: underline; }

blockquote { border-left: 1px solid #7Eb530; }

#tags {
       display: flex;
       flex-wrap: wrap;
       justify-content: space-around;
       padding: 3px;
	margin-bottom: 1em;
	text-align: center;
	font-size: 90%;
}

#tags a {
     flex: 1 1 auto; 
      display: inline-block;
      padding: 1px 3px;
      margin: 2px;
//      border: 1px solid #CCC;
//      background: #DDD;
//      color: #666;
//      border-radius: 3px;
}

// #tags a.active { border-color: #3E86AA; color: #3E86AA; }

#tags a:hover {
      color: #7EB530;
//      background: #DDEEFF;
//      border-color: #6ED6FA;
}
